/* body {
    background-color: #e6ffe6;
} */

.center-text {
    text-align: center;
}

.right-text {
  text-align: right;
}

.left-text {
  text-align: left;
}

.float-left {
    margin-right: 10px;
}

.card {
    margin-left: 5px;
    margin-right: 5px;
}

.card-img-top {
    width: 100%;
    object-fit: cover;
}

#map1 {
    height: 400px;
    width: 100%;
}

#map2 {
    height: 400px;
    width: 100%;
}